@keyframes upFadeBetween {
  from {
    color: green;
  }
  to {
    color: white;
  }
}

@keyframes downFadeBetween {
  from {
    color: red;
  }
  to {
    color: white;
  }
}

.redPrice {
  animation: downFadeBetween 5s;
  color: white;
}

.greenPrice {
  animation: upFadeBetween 5s;
  color: white;
}

.neutral {
  color: yellow;
}

.padding {
  padding: 50px;
}
